BottleOntoQueryClient/Service References/QueryServiceRef/OntologyQueryService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://Service.OntologyQuery.org/" targetNamespace="http://Service.OntologyQuery.org/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="QueryMethod" type="tns:QueryMethod" />
  <xs:element name="QueryMethodResponse" type="tns:QueryMethodResponse" />
  <xs:complexType name="QueryMethod">
    <xs:sequence>
      <xs:element minOccurs="0" name="QueryText" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="QueryMethodResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>